
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header style="height:200px; background-color:gray">
        <h2>This is header</h2>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="height:200px; background-color:gray">
        <h3>This is footer</h3>
    </footer>
</body>
</html>
