@using StronglyTypeHtmlHelper.Models
@model Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("MyForm"))
    {
     
        @Html.TextBoxFor(b => b.Id)
    <br />
    
        @Html.TextBoxFor(b => b.Name)
    <br />
   
        @Html.TextBoxFor(b => b.Surname)
    <br />

    <input type="submit" value=" Save" />
    }
</body>
</html>
