@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <header style="background-color: gray; height:100px">
        <h1>This is header</h1>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer style="background-color: gray; height:100px">
        <h1>This is footer</h1>
    </footer>
</body>
</html>