<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>Hello I am From Home Controller and About Action Method</h1>
        <h1>About</h1>
    </div>
    <div>
        <a href="/Home/Index"> Index</a> <br />
        <a href="/Home/ContactUs"> Contact Us</a>
    </div>
</body>
</html>
