<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1> Hello, I am from Home controller and index action method</h1>
    </div>

    <div>
        <a href="/Home/Index">Home - Index</a><br>
        <a href="/Home/Name">Home - Name</a><br>
        <a href="/Employee/Index">Employee - Index</a><br>
        <a href="/Employee/Contact">Employee - Contact</a>
    </div>
</body>
</html>
