<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello I am From Home Controller and Index Action Method</h1>
        <h1>Index</h1>
    </div>
    <div>
        <a href="/Home/About">About</a> <br />
        <a href="/Home/ContactUs">Contact Us</a>
    </div>
</body>
</html>
