@using RazorView_Loop_Conditional_Statement.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hi Hello </h1>
        <br />
    </div>
    <div>
        @{

            bool istrue = true;
        }

        <h1>If Statement</h1>


        @if (istrue)
        {
            <h3>I am From if block</h3>
        }
    </div>
    <hr />
    <h1>If else Statement</h1>

    <div>
        @{
            int a = 5;
        }

        @if (a == 1)
        {
            <h3>I am If Block</h3>
        }
        else if (a == 2)
        {
            <h3>I am else if Block</h3>
        }
        else
        {
            <h3>I am Else Block</h3>
        }
    </div>
    <br />
    <hr />
    <h1>Ternary Operator</h1>
    <div>
        @(a ==5? "Condition is true" : "Condition is false")
    </div>
  <br />
    <hr />
    <h1>For Loop</h1>
    <div>
        @for(int i=1; i<=10; i++)
            {
                <h3>I am from For Loop </h3>
            }
    </div>

    <br />
    <hr />
    <h1>Print i Index</h1>
    <div>
        @for(int i=1; i<=5; i++)
            {
                <h3>I am from for loop, @i index</h3>
            }
    </div>
    <br />
    <hr />
    <textarea>Model madhe banavlela data ithe kasa use karaycha?</textarea>
    <br />
    <div>
        @{ 
            Employee emp = new Employee() { ID = 1, Name = "Kedar" };
        }
    </div>
    <br />
    <div>
       ID =  @emp.ID  <br />
        Name = @emp.Name
    </div>
</body>
</html>
