
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @helper MyListHelper(string[] str)
        {
            if(str.Length == 0)
              {
                <label>No Data Exist</label>
              }
            else
              {
                <ul>
                    @foreach (var item in str)
                    {
                      <li> @item</li>
                    }
                </ul>
              }
        }
    </div>
    <div>
        <label>Example 1 - Name List</label>
        <div>
            @MyListHelper(new string[] {"Kedar","Suraj","Chaitu","Abhi","Ladu"})
        </div>
    </div>
    <div>
        <label>Example 2 - Programming Language</label>
        <div>
             @MyListHelper(new string[] {"C","C++","C#","Java"})
        </div>
    </div>
    <div>
        <labl>Example 3 - Empty List</labl>
        <div>
            @MyListHelper(new string[] {})
        </div>
    </div>
</body>
</html>
